.td-t-o-cont {
    position: relative;
}

.td-task-options-btn {
    width: 25px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.td-task-options {
    width: 150px;
    min-height: 50px;
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: left;
    z-index: 9999;
}

.td-t-option {
    padding: 10px 15px;
    color: black;
    cursor: pointer;
}

.td-t-option:hover {
    background-color: rgb(241, 241, 241);
}

.delete-task {
    color: #D81E5B;
}