.progress-bar-cont{
    /* position:absolute;
    left:0;
    top: 0; */
    margin-top: 15px;
    width: 565px;
    height:6px;
    mix-blend-mode:normal;
    background-color:#d5dadd;
    border-radius: 10px;
}
.progress{
    background-color: #00a0b8;
    height: 100%;
    border-radius: 10px;
}
