.sidebar-lists {
  width: 270px;
  height: 800px;
  padding-right: 10px;
}

.title-add-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.add-list-name-modal {
    position: absolute;
    padding: 10px;
    width: 100%;
    top: -80px;
    z-index: 100;
    border-radius: 5px;
}

.a-t-tog {
  border-left: 25px solid transparent;
  border-right: 0 solid transparent;
  border-top: 20px solid white;
}

.a-t-off {
  border-left: 25px solid transparent;
  border-right: 0 solid transparent;
  border-top: 20px solid #d5dadd;
}

.alnm-triangle {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    right: 10px;
}

.add-name-input {
  font-size: 16px;
  background: none;
  border: none;
  padding: 7px;
  width: 100%;
  outline: none;
}

.list-names-cont {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.list-name {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.list-name-outer-cont {
    position: relative;
}

.list-active-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
}

.list-name:hover {
  background: #d5dadd;
  border-radius: 5px 0 0 5px;
  color: black;
}

@media only screen and (max-width: 999px) {
    /*Tablets [601px -> 1000px]*/
    .sidebar-lists {
        height: 450px;
        min-width: 150px;
    }
    .title-add-cont, .list-names-cont {
        min-width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    .sidebar-lists {
        display: none;
    }
    .title-add-cont, .list-names-cont {
        width: 190px;
    }
}
